<plugin start="true">
    <uid>pt.uminho.ceb.biosystems.merlin.transyt</uid>
    <name>merlin-transyt</name>
    <version>4.0.03</version>
    
    <dependencies>
        <dependency uid="merlin"/>
    </dependencies>
    
    <extensions>
        <extension uid="aibench.core" name="aibench.core.operation-definition"
            class="pt.uminho.ceb.biosystems.merlin.merlin_transyt.TranSyTRetriever">
            <operation-description name="transport reactions TranSyT"
                path="30@model/30@create/" uid="operations.TranSyT.ID" />
        </extension>

       <extension uid="aibench.workbench" name="aibench.workbench.view">
            <icon-operation operation="operations.TranSyT.ID"
               icon="icons/Lifecycle/remote.png" />
        </extension>
        
        
        <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        
        <extension uid="aibench.core" name="aibench.core.operation-definition"
            class="pt.uminho.ceb.biosystems.merlin.merlin_transyt.RemoveTransporters">
            <operation-description name="transport reactions"
                path="30@model/30@remove/" uid="operations.TranSyT.ID" />
        </extension>

       <extension uid="aibench.workbench" name="aibench.workbench.view">
            <icon-operation operation="operations.TranSyT.ID"
               icon="icons/Lifecycle/remote.png" />
        </extension>
        
    </extensions>
</plugin>